body {
  background: black;
  color: lightgrey;
  font-size: 3vw;
}

h1 {
  text-align: center;
  font-size: 3vw;
}

.interface {
  display: flex;
  justify-content: space-around;
}

.input, .display {
  padding: 2vw;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.options button {
  font-size: 2vw;
  font-weight: bold;
  margin: 1vw;
  border-radius: 15px;
  background-color: black;
  color: lightgrey;
  width: 12vw;
  border: 2px lightgrey solid;
  transition: color 0.8s linear, background-color 0.8s linear;
}

.options button:hover {
  background-color: lightgrey;
  color: black;
  border: 2px black solid;
  transition: color 0.2s linear, background-color 0.2s linear;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 0;
  overflow-y: hidden;
}

form.active {
  max-height: 80vh;
  transition: max-height 0.15s ease-in-out;
}

.input {
  width: 50%;
}

.input hr {
  border: 3px solid lightgrey;
  width: 100%;
}

.input label, .input input {
  font-size: 1.5vw;
  display: block;
  background-color: black;
  color: lightgrey;
  width: 50%;
}

.input label {
  margin-top: 2vw;
}

.input input {
  margin-bottom: 2vw;
}

.display {
  width: 50%;
}

.display h2 {
  font-size: 3vw;
}

#preview-img {
  width: 100%;
  height: 80vh;
}